# Poetry
POETRY_EXTRAS="scheduler s3"

# FastAPI
APP_PORT=<your_app_port>

# Postgres
DB_HOST=<your_db_host>
DB_PORT=<your_db_port>
DB_USER=<your_db_usec>
DB_PASSWORD=<your_db_password>
DB_NAME=<your_db_name>

DB_PATH=/mnt/data/base-structure-fastAPI-psql

# Auth
SECRET_KEY=<your_server_key>

# Logging
LOG_DIR="logs"
LOG_FILE="app.log"
LOG_LEVEL="INFO"
